/* ============ FONTS ============ */

/* Rubik One */

@font-face {
   font-family: "Rubik One";
   src: url("../fonts/rubikone/RubikOne-Regular.eot");
   src: local("Rubik One Regular"), local("RubikOne-Regular"),
      url("../fonts/rubikone/RubikOne-Regular.eot?#iefix") format("embedded-opentype"),
      url("../fonts/rubikone/RubikOne-Regular.woff2") format("woff2"),
      url("../fonts/rubikone/RubikOne-Regular.woff") format("woff"),
      url("../fonts/rubikone/RubikOne-Regular.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
}

/* ============ COLORS ============ */


:root {
   --font-family: "Rubik One";
   --selection: rgba(0, 0, 0, 0.2);
   --main-text: rgba(255, 255, 255, 0.6);

   --wrapper-bg: rgba(25, 26, 27, 1);
   --pattern-img: url("../src/svg/bg-pattern.svg");
   --pattern-size: 120px 120px;

   --p-top: 50px;
}

/* ============ NORMALIZE ============ */

* {
   box-sizing: border-box;
   scroll-behavior: smooth;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
   font-family: var(--font-family);
   font-size: 14px;
   font-style: normal;
   font-weight: bold;
   color: var(--main-text);
   background-color: var(--wrapper-bg);
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
address,
big,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
main,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
   vertical-align: baseline;
   margin: 0;
   border: 0;
   padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
   margin: 0;
}

ol,
ul {
   list-style: none;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}

body {
   line-height: 1.15;
}

h1 {
   margin: 0.67em 0;
   font-size: 2em;
}

a {
   background-color: transparent;
}

b,
strong {
   font-weight: 500;
}

small {
   font-size: 80%;
}

figure {
   margin: 1em 40px;
}

img {
   border-style: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
   cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
   border: 0;
   padding: 0;
}

textarea {
   overflow: auto;
}

[hidden] {
   display: none;
}

[clear] {
   clear: both;
}

::selection {
   text-shadow: none;
   background: #b3d4fc;
}

/* Box Model */

*,
*::before,
*::after {
   box-sizing: border-box;
}

/* A better looking default horizontal rule */

hr {
   display: block;
   margin: 1em 0;
   border: 0;
   border-top: 1px solid #ccc;
   padding: 0;
   height: 1px;
}

button,
input {
   outline: none;
}

/* ============ HELP ============ */

.no-copy {
   -ms-user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}

.no-event {
   cursor: none;
   user-select: none;
   pointer-events: none;
   -ms-user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
}

.no-copyimg {
   pointer-events: none;
}

/* ============ HELP ============ */

::selection {
   background-color: var(--selection);
}

/* ============ STLE ============ */


/* == shell == */

#wrapper {
   position: relative;
   min-width: 320px;
   min-height: 100%;
   background: var(--wrapper-bg);
}

#wrapper::after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   background: var(--pattern-img) repeat;
   background-size: var(--pattern-size);
   opacity: 0.1;
}

.app {
   z-index: 2;
   position: relative;
   min-height: 100vh;
   width: 100%;
}

.app__container {
   margin: 0 auto;
   padding: var(--p-top) 20px;
   max-width: 1440px;
}

.app__body {
   min-height: calc(100vh - (var(--p-top) * 2));
   width: 100%;
   display: flex;
}

.content {
   flex: 1 0 auto;
   width: 100%;
   display: flex;
   font-size: 30px;
}

.content__container {
   flex: 1 1 auto;
   overflow: hidden;
   margin: 0 auto;
   max-width: 800px;
   display: flex;
   flex-direction: row;
}


/* == card == */

.card {
   flex: 1 0 auto;
   width: 100%;
   opacity: 1;
}

.content_animation .card {
   transition: transform 500ms ease-in-out, opacity 300ms ease-in-out;
}

.content_add .card {
   transform: translateX(-100%);
}

.card._visible {
   opacity: 1;
}

.card._invisible {
   opacity: 0;
}

/* == main == */

#main {
   /* background-color: rgba(255, 255, 255, 0.05); */
}

/* == add == */

#add {
   background-color: rgba(255, 255, 255, 0.05);
}

/* ============ BODY ============ */

.card__body {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}

/* ============ HEADER ============ */

:root {
   --empty-bg: rgba(255, 255, 255, 0.1);
   --logo-first-fill: rgba(255, 255, 255, 1);
   --logo-second-fill: rgba(255, 134, 0, 1);

   --label-bg: rgba(255, 134, 0, 0.1);
   --label-border: rgba(140, 80, 13, 1);
   --label-text: rgba(255, 134, 0, 0.8);

   --h1-text: rgba(255, 255, 255, 0.8);
   --h2-text: rgba(255, 255, 255, 0.5);

   --svg-box-w: 150px;
   --svg-box-h: 100px;
   --logo-size: 80px;

   --author-padding: 10px 0;
   --h1-size: 40px;
   --h2-size: 20px;

   --label-margin: 10px 0;
   --field-padding: 5px 50px;
   --field-size: 14px;
   --line-w: 20px;
   --line-h: 2px;

   --header-letter-spacing: 0.05em;
}

.header {
   margin: 0 0 20px 0;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.avatar {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.box-svg {
   width: var(--svg-box-w);
   height: var(--svg-box-h);
   display: flex;
   justify-content: center;
   align-items: center;
}

.box-container {
   width: var(--logo-size);
   height: var(--logo-size);
   display: flex;
   justify-content: center;
   align-items: center;
}

.box-container:empty {
   width: 100%;
   height: 100%;
   border-radius: 5px;
   background-color: var(--empty-bg);
}

.box-container svg {
   width: 100%;
}

/* logo */

.logo .eye-left,
.logo .eye-right {
   fill: transparent;
}

.logo .art-ears {
   fill: var(--logo-second-fill);
}

.logo .art-legs {
   fill: var(--logo-first-fill);
}

.logo .art-body {
   fill: var(--logo-second-fill);
}

.logo .art-head {
   fill: var(--logo-first-fill);
}

/* author */

.author {
   padding: var(--author-padding);
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-transform: uppercase;
}

.nickname {
   margin: 0;
   font-size: var(--h1-size);
   font-style: normal;
   font-weight: normal;
   letter-spacing: var(--header-letter-spacing);
   color: var(--h1-text);
   cursor: default;
}

.name {
   margin: 0;
   font-size: var(--h2-size);
   font-style: normal;
   font-weight: normal;
   letter-spacing: var(--header-letter-spacing);
   color: var(--h2-text);
   cursor: default;
}

/* label */

.label {
   margin: var(--label-margin);
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.field {
   position: relative;
   margin: 0 20px;
   padding: var(--field-padding);
   border-radius: 100px;
   border: var(--line-h) solid var(--label-border);
   background-color: var(--label-bg);
   color: var(--label-text);
   cursor: pointer;
}

.field__text {
   font-size: var(--field-size);
   font-style: normal;
   font-weight: normal;
   letter-spacing: var(--header-letter-spacing);
   text-transform: uppercase;
   transform: translateY(0.5px);
}

.field::after,
.field::before {
   content: "";
   position: absolute;
   top: 50%;
   width: var(--line-w);
   height: var(--line-h);
   background-color: var(--label-border);
   transform: translateY(-50%);
   cursor: auto;
   pointer-events: none;
}

.field::after {
   left: calc(var(--line-w) * -1);
   border-radius: 20px 0 0 20px;
}

.field::before {
   right: calc(var(--line-w) * -1);
   border-radius: 0 20px 20px 0;
}


/* ============ SOCIAL ============ */

:root {
   --social-margin: 0 0 20px 0;
   --link-bg: rgba(255, 255, 255, 0.05);
   --link-size: 30px;
   --link-container: 18px;
   --social-icon-bg: rgba(255, 255, 255, 0.5);

   --mail: rgba(234, 67, 53, 1);
   --twitter: rgba(85, 172, 238, 1);
   --instagram: rgba(225, 48, 108, 1);
   --tiktok: rgba(255, 0, 80, 1);
   --behance: rgba(5, 62, 255, 1);
   --linkedin: rgba(0, 119, 181, 1);

   --mail-bg: rgba(244, 160, 153, 0.4);
   --twitter-bg: rgba(169, 213, 246, 0.4);
   --instagram-bg: rgba(239, 151, 181, 0.4);
   --tiktok-bg: rgba(255, 127, 167, 0.4);
   --behance-bg: rgba(129, 158, 255, 0.4);
   --linkedin-bg: rgba(128, 187, 218, 0.4);
}

.social {
   margin: var(--social-margin);
   width: 100%;
   display: flex;
   justify-content: start;
   align-items: center;
}

.social-list {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.social__item {
   margin: 0 5px;
   width: var(--link-size);
   height: var(--link-size);
}

.social__link {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 3px;
   background-color: var(--link-bg);
}

.social__container {
   width: var(--link-container);
   height: var(--link-container);
   display: flex;
   justify-content: center;
   align-items: center;
}

.social__container svg {
   width: 100%;
}

.social__container svg path {
   fill: var(--social-icon-bg);
}

.social__item._mail .social__link {
   background-color: var(--mail-bg);
}

.social__item._twitter .social__link {
   background-color: var(--twitter-bg);
}

.social__item._instagram .social__link {
   background-color: var(--instagram-bg);
}

.social__item._tiktok .social__link {
   background-color: var(--tiktok-bg);
}

.social__item._behance .social__link {
   background-color: var(--behance-bg);
}

.social__item._linkedin .social__link {
   background-color: var(--linkedin-bg);
}

/* ============ MAIN ============ */

:root {
   --block-item-bg: rgba(244, 224, 192, 0.1);
   --block-item-bg-hover-main: rgba(249, 209, 197, .15);
   --block-item-bg-hover-link: rgba(198, 223, 245, .1);
   --icon-bg: rgba(255, 255, 255, 0.6);

   --icon-arrow-bg: rgba(237, 58, 124, 0.1);
   --icon-arrow-body: rgba(237, 58, 124, 0.5);
   --icon-arrow-body-hover: rgba(237, 58, 124, 0.8);

   --icon-link-bg: rgba(23, 119, 220, 0.1);
   --icon-link-body: rgba(23, 119, 220, 0.5);
   --icon-link-body-hover: rgba(23, 119, 220, 0.8);

   --main-margin: 10px 0;
   --block-item-margin: 0 0 10px 0;
   --block-list-margin: 10px 0;
   --block-w: 400px;
   --block-h: 50px;
   --block-svg-h: 30px;

   --block-title-size: 14px;
   --block-letter-spacing: 0.02em;

   --subtitle--margin: 10px 0;
   --subtitle-size: 16px;
   --subtitle-letter-spacing: 0.02em;
   --subtitle-line-h: 2px;
   --subtitle-w: 200px;

   --subtitle-text: rgba(255, 255, 255, 0.5);
   --subtitle-line-bg: rgba(255, 255, 255, 0.5);
}

.main {
   margin: var(--main-margin);
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.block {
   width: var(--block-w);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.block__list {
   margin: var(--block-list-margin);
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.block__item {
   position: relative;
   margin: var(--block-item-margin);
   width: 100%;
   height: var(--block-h);
}

.block__link {
   overflow: hidden;
   position: relative;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-decoration: none;
   border-radius: 100px;
   background-color: var(--block-item-bg);
}

.block__list-link .block__link {
   background-color: var(--block-item-bg-hover-link);
}

.block__box {
   width: var(--block-h);
   height: var(--block-h);
   display: flex;
   justify-content: center;
   align-items: center;
}

.block__container {
   width: var(--block-svg-h);
   height: var(--block-svg-h);
   display: flex;
   justify-content: center;
   align-items: center;
}

.block__container._circle {
   border-radius: 50%;
}

.block__container svg {
   width: 60%;
}

.block__container svg.icon-logo {
   width: 80%;
}

.block__container svg.icon-logo {
   fill: var(--icon-bg);
}

.block__container._circle.icon-arrow_bg {
   background-color: var(--icon-arrow-bg);
}

.block__container svg.icon-arrow .icon-arrow_body {
   fill: var(--icon-arrow-body);
}

.block__container._circle.icon-link_bg {
   background-color: var(--icon-link-bg);
}

.block__container svg.icon-link .icon-link_body {
   fill: var(--icon-link-body);
}

.block__title {
   font-size: var(--block-title-size);
   font-style: normal;
   font-weight: normal;
   letter-spacing: var(--block-letter-spacing);
   text-transform: uppercase;
   color: var(--main-text);
}

.subtitle {
   margin: var(--subtitle--margin);
   width: var(--subtitle-w);
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.subtitle__line {
   flex: 1 0 auto;
   border-radius: 10px;
   height: var(--subtitle-line-h);
   background-color: var(--subtitle-line-bg);
}

.subtitle__text {
   margin: 0 10px;
   font-size: var(--subtitle-size);
   font-style: normal;
   font-weight: normal;
   letter-spacing: var(--subtitle-letter-spacing);
   text-transform: uppercase;
   color: var(--subtitle-text);
}


/* ============ ANIMATION ============ */

@media (min-width: 768px) {

   /* logo */
   .logo {
      cursor: pointer;
   }

   .logo .eye-left,
   .logo .eye-right {
      transition: all 200ms ease-out;
   }

   .logo:hover .eye-left,
   .logo:hover .eye-right {
      fill: var(--logo-first-fill);
      fill-opacity: 1;
   }

   /* socail */
   .social__link {
      transition: all 200ms ease-in-out;
   }

   .social__link:hover {
      transform: translateY(-5px);
   }

   .social__link svg path {
      transition: all 200ms ease-in-out;
   }

   .social__item._mail .social__link,
   .social__item._twitter .social__link,
   .social__item._instagram .social__link,
   .social__item._tiktok .social__link,
   .social__item._behance .social__link,
   .social__item._linkedin .social__link {
      background-color: var(--link-bg);
   }

   .social__item:hover._mail .social__link {
      background-color: var(--mail-bg);
   }

   .social__item:hover._twitter .social__link {
      background-color: var(--twitter-bg);
   }

   .social__item:hover._instagram .social__link {
      background-color: var(--instagram-bg);
   }

   .social__item:hover._tiktok .social__link {
      background-color: var(--tiktok-bg);
   }

   .social__item:hover._behance .social__link {
      background-color: var(--behance-bg);
   }

   .social__item:hover._linkedin .social__link {
      background-color: var(--linkedin-bg);
   }

   /* main */

   .block__link {
      transition: background 200ms ease-in-out, transform 200ms ease-in-out;
   }

   .block__link:hover {
      transform: translateX(6px);
   }

   .block__list-main .block__link:hover {
      background-color: var(--block-item-bg-hover-main);
   }

   .block__list-link .block__link {
      background-color: var(--block-item-bg);
   }

   .block__list-link .block__link:hover {
      background-color: var(--block-item-bg-hover-link);
   }

   .block__box._animation {
      transition: transform 300ms ease-out, opacity 300ms ease-out;
   }

   .block__link .block__box._animation {
      opacity: 0;
      transform: translateX(-30%);
   }

   .block__link:hover .block__box._animation {
      opacity: 1;
      transform: translateX(0);
   }

   .block__container svg.icon-arrow .icon-arrow_body,
   .block__container svg.icon-link .icon-link_body {
      transition: all 200ms ease-in-out;
   }

   .block__link:hover .block__container svg.icon-arrow .icon-arrow_body {
      fill: var(--icon-arrow-body-hover);
   }

   .block__link:hover .block__container svg.icon-link .icon-link_body {
      fill: var(--icon-link-body-hover);
   }
}


/* ============ MEDIA ============ */


@media (max-width: 1024px) {
   :root {
      --pattern-size: 124px 124px;
      --p-top: 30px;
   }
}

@media (max-width: 768px) {
   :root {
      --pattern-size: 76px 76px;
      --p-top: 20px;

      /* header */
      --svg-box-w: calc(150px - 15px);
      --svg-box-h: calc(100px - 10px);
      --logo-size: calc(80px - 8px);

      --author-padding: 10px 0;
      --h1-size: calc(40px - 6px);
      --h2-size: calc(20px - 4px);

      --label-margin: calc(10px - 2px) 0;
      --field-padding: 5px calc(50px - 10px);
      --field-size: calc(14px - 2px);

      /* main */
      --main-margin: calc(10px - 10px) 0;
      --block-item-margin: 0 0 10px 0;
      --block-list-margin: 10px 0;
      --block-w: calc(400px - 80px);
      --block-h: calc(50px - 10px);
      --block-svg-h: calc(30px - 6px);

      --block-title-size: calc(14px - 3px);
      --block-letter-spacing: 0.02em;

      --subtitle--margin: calc(10px - 10px) 0 0 0;
      --subtitle-size: calc(16px - 2px);
      --subtitle-letter-spacing: calc(0.02em + 0.01em);
      --subtitle-line-h: 2px;
   }
}

@media (max-width: 500px) {
   :root {
      /* header */
      --svg-box-w: calc(150px - 15px);
      --svg-box-h: calc(100px - 10px);
      --logo-size: calc(80px - 8px);

      --author-padding: 10px 0;
      --h1-size: calc(40px - 12px);
      --h2-size: calc(20px - 8px);

      --label-margin: calc(10px - 6px) 0;
      --field-padding: 5px calc(50px - 26px);
      --field-size: calc(14px - 4px);
      --line-w: calc(20px - 4px);

      --header-letter-spacing: 0.02em;

      /* social */
      --link-size: calc(30px - 6px);
      --link-container: calc(18px - 5px);

      /* main */
      --main-margin: calc(10px - 10px) 0;
      --block-item-margin: 0 0 10px 0;
      --block-list-margin: calc(10px - 10px) 0 calc(0 + 10px) 0;
      --block-w: calc(400px - 120px);
      --block-h: calc(50px - 15px);
      --block-svg-h: calc(30px - 9px);

      --block-title-size: calc(14px - 4px);
      --block-letter-spacing: 0.03em;

      --subtitle--margin: calc(10px - 4px) 0 10px 0;
      --subtitle-size: calc(16px - 4px);
      --subtitle-letter-spacing: calc(0.02em + 0.01em);
      --subtitle-line-h: 2px;
   }
}

@media (max-width: 425px) {
   :root {
      --pattern-size: 42px 42px;
   }
}

@media (max-width: 375px) {
   :root {
      --pattern-size: 40px 40px;

      /* header */
      --svg-box-w: calc(150px - 30px);
      --svg-box-h: calc(100px - 20px);
      --logo-size: calc(80px - 16px);

      --author-padding: 6px 0;
      --h1-size: calc(40px - 18px);
      --h2-size: calc(20px - 10px);

      --label-margin: calc(10px - 6px) 0;
      --field-padding: 4px calc(50px - 32px);
      --field-size: calc(14px - 8px);
      --line-w: calc(20px - 8px);
      --line-h: calc(2px - 1px);

      --header-letter-spacing: 0.01em;

      /* social */
      --link-size: calc(30px - 8px);
      --link-container: calc(18px - 6px);

      /* main */
      --main-margin: calc(10px - 10px) 0;
      --block-item-margin: 0 0 calc(10px - 4px) 0;
      --block-list-margin: calc(10px - 10px) 0 calc(0 + 10px) 0;
      --block-w: calc(400px - 160px);
      --block-h: calc(50px - 20px);
      --block-svg-h: calc(30px - 12px);

      --block-title-size: calc(14px - 6px);
      --block-letter-spacing: 0.03em;

      --subtitle--margin: calc(10px - 2px) 0 8px 0;
      --subtitle-size: calc(16px - 6px);
      --subtitle-letter-spacing: calc(0.02em + 0.01em);
      --subtitle-line-h: 1px;
      --subtitle-w: calc(200px - 40px);
   }
}

@media (max-width: 320px) {
   :root {
      --pattern-size: 38px 38px;
   }
}


/* ============ END :) ============ */